.hero{
    background: url('../assets/hero-bg.png');
    height:700px;
    background-position: center;
}
#grad{
    background: linear-gradient(to right,yellow, #FB09B4, #9100F8);
}

@keyframes animation{
   0%   {background-color:  #FB09B4;}
  25%  {background-color: #9100F8;}
  50%  {background-color: yellow;}
  100% {background-color: transparent;}
}
.btn1:hover{
  background-color: #FB09B4;
  animation-name:animation;
  animation-duration: 4s; 
  cursor:pointer; 
}


navbar span,footer span{
      background: linear-gradient(to right,yellow, #FB09B4, #9100F8);
       -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@theme{
    --color-regal-green: #00FF88;
}
navbar ul li{
    color:white;
}
.choose h3{
    color:white;
    font-weight: 600;
    font-size: 24px;
}
.choose p{
    color:white;
       font-weight: 400;
    font-size: 16px;
}
.choose{
    padding:100px 0;
}
.feature h3{
    color:white;
    font-size:24px;
    font-weight:bold;
}
.feature p{
    color:white;
    font-size:16px;
    font-weight:400;
}
footer{
    background: url('../assets/footer-bg.png');
}
.feature .icon{
    color:#00ff88;
    font-size: 13px;
}
